@font-face {
  font-family: "Excalifont";
  src: url("/fonts/Excalifont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

body {
  font-family: "Excalifont", sans-serif;
  margin: 0;
}

input, button, select, textarea {
  font-family: "Excalifont", sans-serif;
  outline: none;     /* quita el borde azul al enfocar */
  box-shadow: none;  /* quita sombras por defecto */
}
